body {
  background-image: url("./img/background/image1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  transition: 1s;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.box-content {
  width: 500px;
  height: 500px;
  background-color: rgba(36, 89, 124, 0.4588235294);
  position: relative;
  border-radius: 35px;
}
.box-content h1 {
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.box-content .form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-content .form-box input, .box-content .form-box button {
  min-width: 280px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #36afff;
  outline: none;
  color: white;
  text-align: center;
}
.box-content .form-box input:focus {
  border-color: #e6c044;
  min-width: 320px;
}
.box-content .form-box button {
  margin-top: 30px;
  min-width: 150px;
  cursor: pointer;
}
.box-content .form-box button:focus {
  background-color: #e6c044;
  border: 2px solid #e6c044;
}
.box-content .form-box button:hover {
  border: 2px solid #e6c044;
}
.box-content .form-box ::placeholder {
  color: white;
  opacity: 70%;
}
.box-content .form-box :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  opacity: 70%;
}
.box-content .form-box ::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  opacity: 70%;
}
.box-content .form-box .reminder {
  font-size: 13px;
  min-width: 57%;
  position: relative;
  top: -12px;
}
.box-content .form-box .reminder a {
  display: flex;
  justify-content: right;
  color: #36afff;
  text-decoration: none;
}
.box-content .form-box .reminder a:hover {
  color: #e6c044;
}
.box-content .reg-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 14px;
}
.box-content .reg-link a {
  color: #36afff;
  text-decoration: none;
  margin-left: 5px;
}
.box-content .reg-link a:hover {
  color: #e6c044;
}

.reg-box-content {
  min-width: 500px;
  height: 550px;
  background-color: rgba(36, 89, 124, 0.4588235294);
  position: relative;
  border-radius: 35px;
}
.reg-box-content h1 {
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.reg-box-content .reg-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.reg-box-content .reg-form-box input[type=text], .reg-box-content .reg-form-box input[type=password] {
  width: 280px;
  height: 40px;
  transition: 0.5s;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #36afff;
  outline: none;
  color: white;
  text-align: center;
}
.reg-box-content .reg-form-box input[type=text]:focus, .reg-box-content .reg-form-box input[type=password]:focus {
  border-color: #e6c044;
  width: 320px;
}
.reg-box-content .reg-form-box .flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}
.reg-box-content .reg-form-box .flex-row .reg_name, .reg-box-content .reg-form-box .flex-row .reg_lastname {
  width: 135px;
  margin: 0 2px;
}
.reg-box-content .reg-form-box .flex-row .reg_name:focus, .reg-box-content .reg-form-box .flex-row .reg_lastname:focus {
  border-color: #e6c044;
  width: 150px;
}
.reg-box-content .reg-form-box button {
  margin-top: 0px;
  width: 150px;
  cursor: pointer;
  border: 2px solid #36afff;
  outline: none;
  color: white;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;
}
.reg-box-content .reg-form-box button:focus {
  background-color: #e6c044;
  border: 2px solid #e6c044;
}
.reg-box-content .reg-form-box button:hover {
  border: 2px solid #e6c044;
}
.reg-box-content .reg-form-box ::placeholder {
  color: white;
  opacity: 70%;
}
.reg-box-content .reg-form-box :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  opacity: 70%;
}
.reg-box-content .reg-form-box ::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  opacity: 70%;
}
.reg-box-content .reg-form-box .radio {
  display: flex;
  flex-direction: row;
}
.reg-box-content .reg-form-box .radio .gender {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 5px;
  cursor: pointer;
}
.reg-box-content .reg-form-box .radio .gender .gender-radio {
  cursor: pointer;
  position: relative;
  top: -2px;
  min-width: 15px;
}
.reg-box-content .reg-form-box .radio .gender p {
  color: white;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .box-content {
    background-color: rgba(36, 89, 124, 0.4588235294);
    width: 70%;
  }
  .box-content .form-box input {
    min-width: 60%;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #36afff;
    outline: none;
    color: white;
    text-align: center;
  }
  .box-content .form-box input[type=submit] {
    min-width: 250px;
    cursor: pointer;
  }
  .box-content .form-box .reminder {
    font-size: 13px;
    width: 60%;
  }
  .reg-box-content {
    width: 70%;
  }
  .reg-box-content h1 {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
  .reg-box-content .reg-form-box input[type=text], .reg-box-content .reg-form-box input[type=password] {
    width: 70%;
    min-width: 230px;
    height: 40px;
    transition: 0.5s;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #36afff;
    outline: none;
    color: white;
    text-align: center;
  }
  .reg-box-content .reg-form-box input[type=text]:focus, .reg-box-content .reg-form-box input[type=password]:focus {
    border-color: #e6c044;
    width: 75%;
  }
  .reg-box-content .reg-form-box .flex-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
  }
  .reg-box-content .reg-form-box .flex-row .reg_name, .reg-box-content .reg-form-box .flex-row .reg_lastname {
    width: 70%;
    min-width: 230px;
    margin: 0 2px;
  }
  .reg-box-content .reg-form-box .flex-row .reg_name:focus, .reg-box-content .reg-form-box .flex-row .reg_lastname:focus {
    border-color: #e6c044;
    width: 75%;
  }
  .reg-box-content .reg-form-box button {
    margin-top: 0px;
    width: 150px;
    cursor: pointer;
    border: 2px solid #36afff;
    outline: none;
    color: white;
    height: 40px;
    background-color: transparent;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .box-content {
    background-color: rgba(36, 89, 124, 0.4588235294);
    width: 95%;
    min-width: 100px;
  }
  .box-content h1 {
    font-size: 45px;
  }
  .box-content .form-box input {
    min-width: 70%;
    height: 40px;
  }
  .box-content .form-box input[type=submit] {
    min-width: 50%;
    cursor: pointer;
  }
  .box-content .form-box .reminder {
    font-size: 13px;
    min-width: 70%;
  }
  body {
    margin: 0;
  }
  .reg-box-content {
    min-width: 90%;
  }
  .reg-box-content h1 {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
  .reg-box-content .reg-form-box input[type=text], .reg-box-content .reg-form-box input[type=password] {
    width: 70%;
    min-width: 230px;
    height: 40px;
    transition: 0.5s;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #36afff;
    outline: none;
    color: white;
    text-align: center;
  }
  .reg-box-content .reg-form-box input[type=text]:focus, .reg-box-content .reg-form-box input[type=password]:focus {
    border-color: #e6c044;
    width: 75%;
  }
  .reg-box-content .reg-form-box .flex-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
  }
  .reg-box-content .reg-form-box .flex-row .reg_name, .reg-box-content .reg-form-box .flex-row .reg_lastname {
    width: 70%;
    min-width: 230px;
    margin: 0 2px;
  }
  .reg-box-content .reg-form-box .flex-row .reg_name:focus, .reg-box-content .reg-form-box .flex-row .reg_lastname:focus {
    border-color: #e6c044;
    width: 75%;
  }
  .reg-box-content .reg-form-box button {
    margin-top: 0px;
    width: 150px;
    cursor: pointer;
    border: 2px solid #36afff;
    outline: none;
    color: white;
    height: 40px;
    background-color: transparent;
    border-radius: 20px;
  }
}/*# sourceMappingURL=style.css.map */